<!DOCTYPE html>
<html lang="es" 
class="wf-poppins-n4-active wf-poppins-n5-active wf-poppins-n3-active wf-poppins-n6-active 
wf-poppins-n7-active wf-roboto-n3-active wf-roboto-n4-active wf-roboto-n5-active 
wf-roboto-n6-active wf-roboto-n7-active wf-active">
<head>
	<title>Inicio de sesión</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<script th:src="@{/assets/webfontloader.js}"></script>
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700%7CRoboto:300,400,500,600,700" media="all">
	
	<script>
          WebFont.load({
            google: {"families":["Poppins:300,400,500,600,700","Roboto:300,400,500,600,700"]},
            active: function() {
                sessionStorage.fonts = true;
            }
          });
	</script>
	<link th:href="@{/assets/vendors/base/vendors.bundle.css}"
		rel="stylesheet" type="text/css" />
	<link th:href="@{/assets/demo/default/base/style.bundle.css}"
		rel="stylesheet" type="text/css" />
	<link rel="shortcut icon"
		th:href="@{/assets/demo/default/media/img/logo/favicon.ico}" />
	
	
	<style type="text/css">.im-caret {
		-webkit-animation: 1s blink step-end infinite;
		animation: 1s blink step-end infinite;
		}
		
		@keyframes blink {
			from, to {
				border-right-color: black;
			}
			50% {
				border-right-color: transparent;
			}
		}
		
		@-webkit-keyframes blink {
			from, to {
				border-right-color: black;
			}
			50% {
				border-right-color: transparent;
			}
		}
		
		.im-static {
			color: grey;
		}
	</style>
	
	<style type="text/css">/* Chart.js */
		@-webkit-keyframes chartjs-render-animation{
		from{opacity:0.99}to{opacity:1}}@keyframes chartjs-render-animation{
		from{opacity:0.99}to{opacity:1}}.chartjs-render-monitor{
		-webkit-animation:chartjs-render-animation 0.001s;
		animation:chartjs-render-animation 0.001s;}
	</style>
</head>

<body class="m--skin- m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">
	
	<div class="m-grid m-grid--hor m-grid--root m-page">
			<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor m-login m-login--singin m-login--2 m-login-2--skin-3" id="m_login" style="background-image: url(../../../assets/app/media/img//bg/bg-2.jpg);">
				<div class="m-grid__item m-grid__item--fluid	m-login__wrapper">
					<div class="m-login__container">
						<div class="m-login__logo">
							<a href="#">
								<img  style='height: 100%; width: 100%; object-fit: contain' th:src="@{/assets/app/media/img//logos/logo-1.png}">
							</a>
						</div>
						<div class="m-login__signin">
							<div class="m-login__head">
								<h3 class="m-login__title">
									Iniciar sesión
								</h3>
							</div>
							<form class="m-login__form m-form" th:action="@{/login}" method="post">
								<div  class="form-group m-form__group">
									<h6 th:text="${fail}"  class="m-alert__text"></h1>
								</div>
								<div class="form-group m-form__group">
									<input class="form-control m-input" type="email" placeholder="Correo electrónico" name="email" autocomplete="on">
								</div>
								<div class="form-group m-form__group">
									<input class="form-control m-input m-login__form-input--last" type="password" placeholder="Contraseña" name="password">
								</div>
								<div class="row m-login__form-sub">
									<div class="col m--align-left m-login__form-left">
										<label class="m-checkbox  m-checkbox--light">
											<input type="checkbox" name="remember">
											Recuérdame
											<span></span>
										</label>
									</div>
									<div class="col m--align-right m-login__form-right">
										<a href="javascript:;" id="m_login_forget_password" class="m-link">
											Olvidaste tu contraseña?
										</a>
									</div>
								</div>
								<div class="m-login__form-action">
									<button  class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air  m-login__btn">
										Iniciar sesión
									</button>
								</div>
							</form>
						</div>
						<div class="m-login__signup">
							<div class="m-login__head">
								<h3 class="m-login__title">
									Crear una cuenta
								</h3>
								<div class="m-login__desc">
									Ingrese los detalles de la cuenta:
								</div>
							</div>
							<form class="m-login__form m-form" action="">
								<div class="form-group m-form__group">
									<input class="form-control m-input" type="text" placeholder="Nombre completo" name="fullname">
								</div>
								<div class="form-group m-form__group">
									<input class="form-control m-input" type="text" placeholder="Correo" name="email" autocomplete="off">
								</div>
								<div class="form-group m-form__group">
									<input class="form-control m-input" type="password" placeholder="Contraseña" name="password">
								</div>
								<div class="form-group m-form__group">
									<input class="form-control m-input m-login__form-input--last" type="password" placeholder="Confirmar contraseña" name="rpassword">
								</div>
								<div class="row form-group m-form__group m-login__form-sub">
									<div class="col m--align-left">
										<label class="m-checkbox m-checkbox--light">
											<input type="checkbox" name="agree">
											Estoy de acuerdo con los
											<a href="#" class="m-link m-link--focus">
												terminos y condiciones
											</a>
											.
											<span></span>
										</label>
										<span class="m-form__help"></span>
									</div>
								</div>
								<div class="m-login__form-action">
									<button id="m_login_signup_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air  m-login__btn">
										Registrarse
									</button>
									&nbsp;&nbsp;
									<button id="m_login_signup_cancel" class="btn btn-outline-focus m-btn m-btn--pill m-btn--custom m-login__btn">
										Cancelar
									</button>
								</div>
							</form>
						</div>
						<div class="m-login__forget-password">
							<div class="m-login__head">
								<h3 class="m-login__title">
									Olvidaste tu contraseña?
								</h3>
								<div class="m-login__desc">
									Ingresa tu correo para resetear tu contraseña
								</div>
							</div>
							<form class="m-login__form m-form" action="">
								<div class="form-group m-form__group">
									<input class="form-control m-input" type="text" placeholder="Correo" name="email" id="m_email" autocomplete="off">
								</div>
								<div class="m-login__form-action">
									<button id="m_login_forget_password_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air m-login__btn m-login__btn--primary">
										Solicitar
									</button>
									&nbsp;&nbsp;
									<button id="m_login_forget_password_cancel" class="btn btn-outline-focus m-btn m-btn--pill m-btn--custom  m-login__btn">
										Cancelar
									</button>
								</div>
							</form>
						</div>
						<div class="m-login__account">
							<span class="m-login__account-msg">
								No tienes una cuenta?
							</span>
							&nbsp;&nbsp;
							<a href="javascript:;" id="m_login_signup" class="m-link m-link--light m-login__account-link">
								Registrarse
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<script th:src="@{/assets/vendors/base/vendors.bundle.js}" type="text/javascript"></script>
		<script th:src="@{/assets/demo/default/base/scripts.bundle.js}" type="text/javascript"></script>
		<script th:src="@{/assets/snippets/pages/user/login.js}" type="text/javascript"></script>
	
</body>
</html>