<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/cer-db</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <mapping class="edu.pe.unsch.entity.AdjuntoEntity"/>
        <mapping resource="edu/pe/unsch/entity/AdjuntoEntity.hbm.xml"/>
        <mapping class="edu.pe.unsch.entity.ConsideracionEntity"/>
        <mapping resource="edu/pe/unsch/entity/ConsideracionEntity.hbm.xml"/>
        <mapping class="edu.pe.unsch.entity.ConsideracionresolucionEntity"/>
        <mapping resource="edu/pe/unsch/entity/ConsideracionresolucionEntity.hbm.xml"/>
        <mapping class="edu.pe.unsch.entity.DatoadicionalEntity"/>
        <mapping resource="edu/pe/unsch/entity/DatoadicionalEntity.hbm.xml"/>
        <mapping class="edu.pe.unsch.entity.DecretoEntity"/>
        <mapping resource="edu/pe/unsch/entity/DecretoEntity.hbm.xml"/>
        <mapping class="edu.pe.unsch.entity.DecretosresolucionEntity"/>
        <mapping resource="edu/pe/unsch/entity/DecretosresolucionEntity.hbm.xml"/>
        <mapping class="edu.pe.unsch.entity.DestinatarioEntity"/>
        <mapping resource="edu/pe/unsch/entity/DestinatarioEntity.hbm.xml"/>
        <mapping class="edu.pe.unsch.entity.DetalledocumentoEntity"/>
        <mapping resource="edu/pe/unsch/entity/DetalledocumentoEntity.hbm.xml"/>
        <mapping class="edu.pe.unsch.entity.DocumentoEntity"/>
        <mapping resource="edu/pe/unsch/entity/DocumentoEntity.hbm.xml"/>
        <mapping class="edu.pe.unsch.entity.DocumentoadjuntoEntity"/>
        <mapping resource="edu/pe/unsch/entity/DocumentoadjuntoEntity.hbm.xml"/>
        <mapping class="edu.pe.unsch.entity.DocumentoadjuntodatoadicionalEntity"/>
        <mapping resource="edu/pe/unsch/entity/DocumentoadjuntodatoadicionalEntity.hbm.xml"/>
        <mapping class="edu.pe.unsch.entity.EstadodocumentoEntity"/>
        <mapping resource="edu/pe/unsch/entity/EstadodocumentoEntity.hbm.xml"/>
        <mapping class="edu.pe.unsch.entity.FacultadEntity"/>
        <mapping resource="edu/pe/unsch/entity/FacultadEntity.hbm.xml"/>
        <mapping class="edu.pe.unsch.entity.MemorandoEntity"/>
        <mapping resource="edu/pe/unsch/entity/MemorandoEntity.hbm.xml"/>
        <mapping class="edu.pe.unsch.entity.OficioEntity"/>
        <mapping resource="edu/pe/unsch/entity/OficioEntity.hbm.xml"/>
        <mapping class="edu.pe.unsch.entity.ResolucionEntity"/>
        <mapping resource="edu/pe/unsch/entity/ResolucionEntity.hbm.xml"/>
        <mapping class="edu.pe.unsch.entity.SolicitanteEntity"/>
        <mapping resource="edu/pe/unsch/entity/SolicitanteEntity.hbm.xml"/>
        <mapping class="edu.pe.unsch.entity.SolicitudEntity"/>
        <mapping resource="edu/pe/unsch/entity/SolicitudEntity.hbm.xml"/>
        <mapping class="edu.pe.unsch.entity.TipodocumentoEntity"/>
        <mapping resource="edu/pe/unsch/entity/TipodocumentoEntity.hbm.xml"/>
        <mapping class="edu.pe.unsch.entity.TiporesolucionEntity"/>
        <mapping resource="edu/pe/unsch/entity/TiporesolucionEntity.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
